<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title> CRUD amb Spring Boot i MySQL</title>
</head>

<body>
    <div class = "container">
        <h1>Llista de sucursals</h1>
        <hr>
        <h2>Afegir sucursal</h2>    

        <form action="#" th:action="@{/add}" th:object="${sucursal}" method="post">
            <label for="nomSucursal">Nom sucursal</label>
            <input type="text" th:field="*{nomSucursal}" id="nomSucursal" placeholder="Nom sucursal">
            <span th:if="${#fields.hasErrors('nomSucursal')}" th:errors="*{nomSucursal}"></span>
            <label for="paisSucursal">Pais sucursal</label>
            <input type="text" th:field="*{paisSucursal}" id="paisSucursal" placeholder="Pais sucursal">
            <span th:if="${#fields.hasErrors('paisSucursal')}" th:errors="*{paisSucursal}"></span>
            <input type="submit" value="Afegir">
        </form>

    </div>
</body>
</html>