<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title> CRUD amb Spring Boot i MySQL</title>
</head>
<body>
<div th:switch="${sucursalList}">
    <h2 th:case="null">Encara no hi ha cap sucursal registrada!</h2>
    <div th:case="*">
        <h2>Sucursals</h2>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Pais</th>
                <th>Tipus</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sucursal : ${sucursalList}">
                <td th:text="${sucursal.nomSucursal}"></td>
                <td th:text="${sucursal.paisSucursal}"></td>
                <td th:text="${sucursal.tipusSucursal}"></td>
                <td><a th:href="@{/edit/{id}(id=${sucursal.pk_SucursalID})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${sucursal.pk_SucursalID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>

        <p><a href="/signup">Nova sucursal</a></p>

        <h3>Cercar sucursal</h3>
        <form action="#" th:action="@{/getOne}" th:object="${sucursal}" method="get">
            <label for="pk_SucursalID">Codi identificador</label>
            <input type="text" th:field="*{pk_SucursalID}" id="pk_SucursalID" placeholder="Codi identificador">
            <span th:if="${#fields.hasErrors('pk_SucursalID')}" th:errors="*{pk_SucursalID}"></span>
            <input type="submit" value="Cercar">
        </form>
    </div>

</div>
</body>
</html>