<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title> CRUD amb Spring Boot i MySQL</title>
</head>

<body>
<div class = "container">
    <h1>Llista de sucursals</h1>
    <hr>
    <h2>Cerca</h2>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Pais</th>
            <th>Tipus</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${sucursal.nomSucursal}"></td>
            <td th:text="${sucursal.paisSucursal}"></td>
            <td th:text="${sucursal.tipusSucursal}"></td>
            <td><a th:href="@{/edit/{id}(id=${sucursal.pk_SucursalID})}">Edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${sucursal.pk_SucursalID})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <p><a href="/getAll">Enrere</a></p>
</div>
</body>
</html>